<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mongo-ArticleScrapper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/app.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">News Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
      <li><a href="/mySavedArticles"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Saved Articles</a></li>
      <li><a href="/scrapeArticles"><span class="glyphicon glyphicon-save" id="scrapeId"></span>&nbsp;New Articles</a></li>
    </ul>
  </div>
  <div class="jumbotron jumbotron-fluid">
  
</div>
</nav>
  
<div class="container">
  {{{ body }}}
</div>

</body>
</html>
