<div class="container">
    <div class="row">
       
                {{#each dbArticle}}
                 <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{link}}" target="_blank">{{headline}}</a>                        
                    </div>
                    <div class="panel-body">
                        <p>{{summary}}</p>
                        <button type="button" class="btn btn-success" id="saveArticle" data-id="{{_id}}">SAVE ARTICLE</button>
                    </div>
                    
                </div>
                </div>
                {{/each}}
            </ul>
        
    </div>    
</div>