<div class="container">
    <div class="row">
        <div class="col-xs-12">
        
            <ul>
                {{#each dbArticle}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{link}}" target="_blank">{{headline}}</a>
                        <button type="button" class="btn btn-success" id="saveArticle" data-id="{{_id}}">SAVE ARTICLE</button>
                    </div>
                    <div class="panel-body"><p>{{summary}}</p></div>
                </div>
                {{/each}}
            </ul>
        </div>
    </div>    
</div>